<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<div class="container">
		<header class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="placementop">
						<nav class="col-sm-2">
							<div class="edition">
								U.S. EDITION &#9660;
							</div>
						</nav>
						<nav class="col-sm-1">
							<div class="date">
								Mon, Nov 20, 2017
							</div>
						</nav>
					</div>
					<nav class="col-sm-offset-1 col-sm-4">
						<%= image_tag 'newsweek-logo.gif', class: "newsweek-logo" %>
					</nav> 
					<nav class="col-sm-offset-2 col-sm-1">
						<button type="button" class="btn">SIGN IN</button>
					</nav>
					<nav class="col-sm-1">
						<button type="button" id="buttonbis" class="btn">SUBSCRIBE</button>
					</nav>
				</div>
			</div>
		</header>
		<div class="row">
			<menu class="col-sm-12">
				Menu
				<div class="row">
					<div class="col-sm-offset-2 col-sm-1">
						U.S
					</div>
					<div class="col-sm-1">
						World
					</div>
					<div class="col-sm-1">
						Business
					</div>
					<div class="col-sm-1">
						Tech &amp; Science
					</div>
					<div class="col-sm-1">
						Culture
					</div>
					<div class="col-sm-1">
						Sports
					</div>
					<div class="col-sm-1">
						Health
					</div>
					<div class="col-sm-1">
						Opinion
					</div>
					<div class="col-sm-1">
						Search
					</div>
				</div>
			</menu>
		</div>
		<div class="row">
			<section class="col-sm-12">
				1ère partie des articles
				<div class="row">
					<div class="col-sm-8">
						<div class="row">
							<article class="col-sm-12">
								Main Article 
							</article>
							<article class="col-sm-12">
								Main Article 2
							</article>
							<article class="col-sm-12">
								Main Article 3 
							</article>
							<article class="col-sm-12">
								Main Article 4
							</article>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="row">
							<aside class="col-sm-12">
								Latest Headlines
								<div class="row">
									<div class="row">
										Art 1
									</div>
									<div class="row">
										Art 2 
									</div>
									<div class="row">
										Art 3 
									</div>
									<div class="row">
										Art 4 
									</div>
									<div class="row">
										Art 5 
									</div>
									<div class="row">
										Art 6
									</div>
									<div class="row">
										Art 7 
									</div>
								</div>
							</aside>
							<aside class="col-sm-12">
								Sign up for our Neswletter <br>
								Sign up button <br>
								Update your preferences
							</aside>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="row">
			<div class="col-sm-12">
				2ème partie des articles
				<div class="row">
					<div class="col-sm-4">
						UCLA Players Aren't The Only Americans Jailed in China
					</div>
					<div class="col-sm-4">Earthquake near Pacific Islands Triggers Tsunami Scare
					</div>
					<div class="col-sm-4">Is the Ball Family Trump's Next Pro Feud ?
					</div>
					<div class="col-sm-4">
						U.S. Should 'Choke' North Korea to 'Submission'
					</div>
					<div class="col-sm-4">
						'Fake' Apollo Moon Landing Photo Causes A Buzz
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				N IN THE MAGAZINE
				<div class="row">
					<div class="col-sm-4">
						Can Fox News Survive the Trump Presidency . 
					</div>
					<div class="col-sm-4">
						Inside Head Transplant Surgeon Segio Canavero's Mind
					</div>
					<div class="col-sm-4">
						What 'Lady Bird' Gets Right About Being a Teenager
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-4">
						This Week
						<br>
						<br>
						<br>
						<br>
						<br>
						SEE ALL FEATURES
					</div>
					<div class="col-sm-offset-4 col-sm-4">
						Most Read 
						<div class="row-sm-1">
							Art 1 
						</div>
						<div class="row-sm-1">
							Art 2 
						</div>
						<div class="row-sm-1">
							Art 3 
						</div>
						<div class="row-sm-1">
							Art 4 
						</div>
						<div class="row-sm-1">
							Art 5 
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				N CHOOSE A MEMBERSHIP THAT'S PERFECT FOR YOU !
				<div class="row">
					<div class="col-sm-4">
						PRINT ONLY
					</div>
					<div class="col-sm-4">
						PRINT &amp; DIGITAL
					</div>
					<div class="col-sm-4">
						DIGITAL ONLY
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				Footer
				<div class="row">
					<div class="col-sm-3">
						NEWSWEEK LOGO
					</div>
					<div class="col-sm-2">
						© 2017 NEWSWEEK LLC
					</div>
					<div class="col-sm-offset-5 col-sm-2">
						Logo réseaux sociaux
					</div>
				</div>
			</div>
		</div>
		<footer class="row">
			<div class="col-lg-12">
				Footer 2
				<div class="row">
					<div class="col-sm-1">
						About US
					</div>
					<div class="col-sm-1">
						Corrections
					</div>
					<div class="col-sm-1">
						Contact Us
					</div>
					<div class="col-sm-1">
						Newsweek Media Group
					</div>
					<div class="col-sm-1">
						Travel
					</div>
					<div class="col-sm-1">
						Advertise
					</div>
					<div class="col-sm-1">
						Copyright
					</div>
					<div class="col-sm-1">
						Privacy Policy
					</div>
					<div class="col-sm-1">
						Terms of Service
					</div>
					<div class="col-sm-1">
						Terms of Sale
					</div>
					<div class="col-sm-1">
						Archive
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>